@charset 'UTF-8';

:root{
    --color1: #49a09d; 
    --color2: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html{
    background-color: var(--color2);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#Loguin{
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transform: translate(-50%,-50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section#Loguin > div#img{
    display: block;
    background: var(--color2) url(../img/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#Loguin > div#form{
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: var(--color2);
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #306866;

}

form > a.botom{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #52afac;
    color: #1c3b3a;
    text-align: center;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;
    text-decoration: none;
}

form > a.botom:hover{
    background-color: #49a09d;
}

form > a.botom > span{
    font-size: 0.8em;
}